server:
  port: 8090
  address: 0.0.0.0

spring:
  mongodb:
    uri: mongodb://localhost:27017/sportify_db

  mail:
    host: smtp.gmail.com
    port: 587
    username: smakhlouf278@gmail.com
    password: gedvjzfhzxwjrbei
    test-connection: true
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB


